<template>
  <div
    class="d-flex align-center"
    style="margin-left: auto"
  >
    <v-menu
      open-on-hover
      bottom
      offset-y
    >
      <v-btn
        icon
        slot="activator"
      >
        <v-icon>person</v-icon>
      </v-btn>
      <v-list>
        <v-list-tile @click="showProfile">
          <v-list-tile-action>
            <v-icon>assignment</v-icon>
          </v-list-tile-action>
          <v-list-tile-title>Show Profile</v-list-tile-title>
        </v-list-tile>
        <v-list-tile @click="logout">
          <v-list-tile-action>
            <v-icon>exit_to_app</v-icon>
          </v-list-tile-action>
          <v-list-tile-title>Log Out</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-menu>

    <v-btn icon>
      <v-icon>notifications</v-icon>
    </v-btn>

    <v-dialog
      v-model="profileDialog"
      persistent
      max-width="600px"
    >
      <v-card>
        <v-card-title>
          <span class="headline">User Profile</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex
                xs12
                sm6
              >
                <v-text-field
                  label="First name"
                  v-model="user.firstname"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex
                xs12
                sm6
              >
                <v-text-field
                  label="Last name"
                  v-model="user.lastname"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field
                  label="Email"
                  v-model="user.email"
                  hint="This also you email address"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field
                  label="Password"
                  v-model="user.password"
                  type="password"
                  required
                ></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field
                  label="Verify Password"
                  v-model="user.verifyPassword"
                  type="password"
                  required
                  hint="When changing you password, please enter twice"
                  persistent-hint
                  :rules="[
                    () => user.password == user.verifyPassword || 'Passwords entered does not much '
                  ]"
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
          <small>* indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue darken-1"
            flat
            @click.native="profileDialog = false"
          >Close</v-btn>
          <v-btn
            color="blue darken-1"
            flat
            @click="saveProfile"
          >Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: 'HeaderActions',

  data () {
    return {
      profileDialog: false,
      user: {
        firstname: '',
        lastname: '',
        email: '',
        password: '',
        verifyPassword: '',
        isActive: true
      }
    }
  },

  methods: {
    showProfile () {
      this.profileDialog = true
    },

    saveProfile () {
      this.$store.dispatch('updateUserProfile', this.user).then(() => {
        this.user.password = this.user.verifyPassword = ''
      })
      this.profileDialog = false
    },

    logout () {
      // TODO
      console.log('User logout requested...')
    }
  },

  mounted () {
    const loggedinUser = this.$store.state.user

    this.user.firstname = loggedinUser.firstname
    this.user.lastname = loggedinUser.lastname
    this.user.email = loggedinUser.email
  }
}
</script>
