<template>
  <v-container>
    <v-layout
      row
      wrap
    >
      <v-flex xs12>
        <h2>Login to Globomantics</h2>
      </v-flex>
      <v-spacer />
      <v-flex
        xs12
        sm6
        offset-sm3
      >
        <v-text-field
          label="Email"
          v-model="email"
          :rules="emailRules"
          required
        />
      </v-flex>
      <v-flex
        xs12
        sm6
        offset-sm3
      >
        <v-text-field
          label="Password"
          v-model="password"
          :rules="passwordRules"
          :type="'password'"
          required
        />
      </v-flex>
      <v-flex
        xs12
        sm6
        offset-sm3
      >
        <v-btn @click="cancel">Cancel</v-btn>
        <v-btn
          color="primary"
          @click="login"
        >Login</v-btn>
      </v-flex>
    </v-layout>
    <v-snackbar
      :timeout="6000"
      :top="true"
      v-model="showAlert"
    >
      {{ loginError }}
    </v-snackbar>
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data: () => {
    return {
      showAlert: false,
      message: '',
      email: '',
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
      ],
      password: '',
      passwordRules: [
        v => !!v || 'Password is required'
      ]
    }
  },
  computed: {
    ...mapGetters({
      isLoggedIn: 'isLoggedIn',
      loginError: 'loginError'
    })
  },
  methods: {
    login: function () {
      const payload = {
        email: this.email,
        password: this.password
      }

      this.$store.dispatch('loginUser', payload).then(() => {
        if (this.isLoggedIn) {
          this.$router.push({ path: '/' })
        } else {
          this.showAlert = true
        }
      })
    },

    cancel: function () {
      console.log('The user does not want to login!')
    }
  }
}
</script>

<style>
</style>
